<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <style>
      body
      {
      background-image:url("http://wwwdelivery.superstock.com/WI/223/4175/PreviewComp/SuperStock_4175-10762.jpg");
      background-repeat:no-repeat;
      background-position: 80% 40%;
      margin-right:200px;
      }
    </style>
    
    <style type="text/css">
    
    </style>
  </head>

  <body>
    <div class="container">
      <!--nav bar-->
      <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">moodView</a>
          </div>
	  
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <!-- <li class="active"><a href="#">Link</a></li>
		   <li><a href="#">Link</a></li> -->
              <li><a href="#">Surprise Me</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
		<input type="text" class="form-control" placeholder="How are you feeling?">
              </div>
              <button type="submit" class="btn btn-default" href="search.html">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
              
              <li><a href="#">Sign Up</a></li>
	      <li><a href="#">Contact moodView</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
      </nav>
      
      <h1 align="center">Welcome to moodView, how are you feeling today?</h1><br><br>
      <p><b>We want to get to know you. What's on your mind and how you are feeling. Please answer the following questions:</b></p><br>
      
      <div class="row">
	<div class="col-lg-4">
	  <div class="form-group">
	    <label for="email" class="control-label">Hey...Hello!</label>
	    <!-- <input type="text" class="form-control input-md" id="question1" placeholder="Answer..."> -->
	    <form>
	      <input type="radio" name="sex" value="male"> Hi!<br>
	      <input type="radio" name="sex" value="female"> Wave and say Hi<br>
	      <input type="radio" name="sex" value="male"> Wave, smile, and say Hi<br>
	      <input type="radio" name="sex" value="female"> Whatever <br>
	      <input type="radio" name="sex" value="male"> Ignore!
	    </form>
	  </div>
	</div>
	
	<div class="col-lg-4">
	  <div class="form-group">
	    <label for="email" class="control-label">How was your day?</label>
	    <form>
	      <input type="radio" name="sex" value="male"> Great<br>
	      <input type="radio" name="sex" value="female"> Good<br>
	      <input type="radio" name="sex" value="male"> Fun<br>
	      <input type="radio" name="sex" value="female"> Disappointing <br>
	      <input type="radio" name="sex" value="male"> Long <br>
	      <input type="radio" name="sex" value="male"> Stessful
	    </form>
	  </div>
	</div>

      </div>

       <div class="row">
	<div class="col-lg-4">
	  <div class="form-group">
	    <label for="email" class="control-label">What do you think of everyone you hung out with today?</label>
	    <form>
	      <input type="radio" name="sex" value="male"> Annoying<br>
	      <input type="radio" name="sex" value="female"> Friendly<br>
	      <input type="radio" name="sex" value="male"> Lovely<br>
	      <input type="radio" name="sex" value="female"> Funny
	    </form>
	  </div>
	</div>

	<div class="col-lg-4">
	  <div class="form-group">
	    <label for="email" class="control-label">What are you thinking about?</label>
	    <form>
	      <input type="radio" name="sex" value="male"> Family or Friends<br>
	      <input type="radio" name="sex" value="female"> School or Work<br>
	      <input type="radio" name="sex" value="male"> This girl or guy<br>
	      <input type="radio" name="sex" value="female"> Life in general<br>
	      <input type="radio" name="sex" value="male"> The weekend
	    </form>
	  </div>
	</div>

      </div>

        <div class="row">
	<div class="col-lg-4">
	  <div class="form-group">
	    <label for="email" class="control-label">Will you remember today a moth from now?</label>
	    <form>
	      <input type="radio" name="sex" value="male"> Yes<br>
	      <input type="radio" name="sex" value="female"> Yes, best day of my life<br>
	      <input type="radio" name="sex" value="male"> No<br>
	      <input type="radio" name="sex" value="female"> No, I just want to forget it
	    </form>
	  </div>
	</div>

	<div class="col-lg-4">
	  <div class="form-group">
	    <label for="email" class="control-label">If a student, what did you think of your teachers/professors today?</label>
	    <form>
	      <input type="radio" name="sex" value="male"> Very helpful<br>
	      <input type="radio" name="sex" value="female"> Entertaining<br>
	      <input type="radio" name="sex" value="male"> I don't care<br>
	      <input type="radio" name="sex" value="female"> I felt asleep<br>
	      <input type="radio" name="sex" value="male"> I can't stand his/her lecture
	    </form>

	  </div>
	</div>

	<div class="col-lg-4">
	  <div class="form-group">
	    <label for="email" class="control-label">If not a student, what did you think of your boss today?</label>
	    <form>
	      <input type="radio" name="sex" value="male"> Very nice<br>
	      <input type="radio" name="sex" value="female"> Understandable<br>
	      <input type="radio" name="sex" value="male"> Bought me lunch today<br>
	      <input type="radio" name="sex" value="female"> Bossy<br>
	      <input type="radio" name="sex" value="male"> Yelled at me today
	    </form>
	  </div>
	</div>

      </div>
	
	
	<script language="javascript" type="text/javascript">
	  var x = Math.floor((Math.random()*6)+1);
	  openPage = function() {
	  location.href = "simple_view.html/"+x;
	  }
	</script>

	

      <button type="button" class="btn btn-success"><a href="javascript:openPage()">Submit</a></button>
    
     

    </div> <!-- container -->
  </body>
</html>
